.navigation {
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    align-items: center;
    font-size: 20px;
    height: 60px;
    border-bottom: 2px solid #510a4c;
}

.link {
    text-transform: uppercase;
    color: #510a4c;
}

.active {
    color: #b768c9;
}