.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1260px;
    gap: 20px;
}

.card {
    width: 300px;
    border: 2px solid #510a4c;
}

.cardDescr {
    padding: 10px;
}

.cardTitle {
    text-align: center;
    color: #510a4c;
    margin-bottom: 10px;
}

.cardRate {
    text-align: center;
    color: #510a4c;
    font-size: 20px;
}